if [ -n "${BRSCAN_APP_DIR:-}" ]; then
    scan_action="$BRSCAN_APP_DIR/script/brother-scan-to-file.sh"
elif [ -x /usr/local/lib/brscan-skey-enhanced/script/brother-scan-to-file.sh ]; then
    scan_action=/usr/local/lib/brscan-skey-enhanced/script/brother-scan-to-file.sh
else
    scan_action=/usr/lib/brscan-skey-enhanced/script/brother-scan-to-file.sh
fi

"$scan_action" "${1:-}"
rc=$?
exit "$rc"
